body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.her .nav-logo img {
  max-height: 50%;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-heading {
  position: relative;
  z-index: 1;
  color: #000;
  background: #7B3535;
  font-size: 16px;
  padding: 1rem;
  margin-top: 10rem;
  text-align: center;
}

.location-openHours {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: black;
  background: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


/* styling for section with exhibitions */
.SymbolsModernMyth {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.SymbolsModernMyth img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.exhibition-info {
  position: relative;
  z-index: 1;
  color: #000;
  background: #7B3535;
  font-size: 16px;
  padding: 1rem;
}

/* styling for section about us */
.about {
  background: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  padding: 16px;
}

.about img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-top: 16px;
}

/* Styling for the footer */
footer {
  background: purple;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for conatct form */
.contact-form {
  margin: 24px 16px;
}

form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input input {
  height: 30px;
}

#message {
  height: 100px;
  display: flex;
}

.form-input ::placeholder {
  padding-left: 8px;
}

form button {
  background: #7B3535;
  border-radius: 5px;
  color: white;
}

@media (min-width: 668px) and (max-width:1024px) {

  .classes {
    grid-template-columns: 50% 50%;
    grid-template-rows: 3fr;
    gap: 12px;

  }

  .classes article {
    margin-top: 0;
    height: 300px;
    width: 100%;
    position: relative;
  }

  .class-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .class-2 {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }

  .class-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .class-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .contact-form {
    margin: 24px;
  }

}

@media (min-width: 1025px) {

  /* .classes {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2fr;
    gap: 12px;
  }

  .classes article {
    margin-top: 0;
    height: 500px;
    width: 100%;
    position: relative;
  }

  .class-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .class-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .class-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .class-4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  } */
  .classes {
    grid-template-columns: 50% 50%;
    grid-template-rows: 3fr;
    gap: 12px;

  }

  .classes article {
    margin-top: 0;
    height: 300px;
    width: 100%;
    position: relative;
  }

  .class-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .class-2 {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }

  .class-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .class-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .contact-form {
    margin: 24px;
  }

  .about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr;
    gap: 16px;
  }

  .about h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about img {
    height: 600px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .contact-form {
    margin: 24px;
  }
}